* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    display: flex;
}

#menu {
    width: 20%;
}

#main {
    width: 80%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    justify-content: space-between;
}

li {
    border-bottom: 2px solid;
}