h1, h2{
	text-align:center;
}
table{
	
	margin: 0 auto;
}

.mess{
 border-collapse: collapse;
}
td {
	padding: 20px;
	vertical-align:top;
}

.myTable {
	width:100%;
	text-align: left;
}

/* Full-width inputs */
input[type=text], input[type=password], input[type=email] {
  width: 75%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #89ABE3;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

/* Add padding to containers */
.container {
  padding: 16px;
  width:100%;
  height:100%;
}


/* Close button on hover */
button:hover,
button:focus {
  background-color: #F2DDDE;
  color: black;
  cursor: pointer;
}