<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MySqlConnector" version="2.1.8" targetFramework="net45" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net45" />
  <package id="System.Diagnostics.DiagnosticSource" version="5.0.1" targetFramework="net45" />
  <package id="System.Memory" version="4.5.4" targetFramework="net45" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net45" />
  <package id="System.Threading.Tasks.Extensions" version="4.3.0" targetFramework="net45" />
  <package id="log4net" version="2.0.8" targetFramework="net45" />
  <package id="MySql.Data" version="8.0.10-rc" targetFramework="net45" />
</packages>