input {
    background-image: url("http://3.bp.blogspot.com/-4oAWWCcNNz4/Tjr3nKNyVUI/AAAAAAAAPLU/Pouua-pNsEY/s1600/sq.gif");
    width: 514px;
    height: 25px;
    background-size: 26px;
    border: none;
    font-family: "Courier New", monospace;
    padding-left: 5px;
    letter-spacing: 2.3ch;
}

#cnp {
    width: 358px;
}