<?xml version="1.0"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="dialect">org.hibernate.dialect.PostgreSQL82Dialect</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://localhost:5432/hospital</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">postgres</property>

        <property name="show_sql">false</property>
        <property name="format_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.enable_lazy_load_no_trans">true</property>

        <mapping resource="domain/Drug.hbm.xml"></mapping>
        <mapping resource="domain/User.hbm.xml"></mapping>
        <mapping resource="domain/Order.hbm.xml"></mapping>
        <mapping resource="domain/OrderItem.hbm.xml"></mapping>
    </session-factory>
</hibernate-configuration>